.form input,
.form textarea,
.form .check-radio,
.form .input-field,
.form .data-picker {
  margin-bottom: 1.5rem;
}

input[type="color"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(26, 24, 29, 0.1);
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none;
}

.form-defaults select {
  padding-top: 0.05rem !important;
  margin: 0.5rem 0 0 !important;
}

button#newsletter_images_main_image_button,
.c-accordion__panel button,
.c-accordion__inner button {
  background-color: #039be5;
  color: #fff;
  margin: 0 0 1rem !important;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

.c-accordion__panel {
  span {
    float: none !important;
  }
}