@font-face {
  font-family: 'Inter';
  src: url("fonts/Inter-Regular.woff2") format('woff2'), url("fonts/Inter-Regular.otf") format('otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Bold.woff2') format('woff2'), url('fonts/Inter-Bold.otf') format('otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Light.woff2') format('woff2'), url('fonts/Inter-Light.otf') format('otf');
  font-style: normal;
  font-weight: 300;
}
